@import url("../styles/global.css");

.flex-center {
    display: flex;
    align-items: center;
}


header {
    justify-content: space-between;
    padding: 20px 5%;
    backdrop-filter: blur(2rem);
    background: var(--blue-color);
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer
}

.brand-tag {
    color: var(--white-color);
}

.link {
    font-size: 20;
    font-weight: bold;
    cursor: pointer;
    margin-inline: 8px;
    padding: 10px 20px;
    color: var(--white-color);
    transition: var(--normal-transition);
    border-radius: 10px;
}

.link:hover {
    background: var(--white-color);
    color: var(--blue-color);
}