h1 {
    margin: 70px auto 20px;
    width: 80%;
    text-align: center;
    line-height: 1.5;
    font-size: 45px;
}

#job-search {
    width: 70%;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    border: 0;
}